@model Training.Models.Entity.Designation

<h2>Create Designation</h2>

<form asp-action="DesignationSave" method="post">
    <div>
        <label asp-for="Id"></label>
        <input asp-for="Id" />
        <span asp-validation-for="Id"></span>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="UpdatedBy"></label>
        <input asp-for="UpdatedBy" />
        <span asp-validation-for="UpdatedBy"></span>
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>

<a href="@Url.Action("DesignationView")">Back to Designation List</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
